{% extends 'base.html.twig' %}

{% block app__base__browser_title %}Список пользователей{% endblock %}
{% block app__wrapper__page_title %}Список пользователей{% endblock %}

{% block app__base__extra_css %}
	<link href="{{ asset('assets/vendor/datatables/dataTables.bootstrap4.min.css') }}" rel="stylesheet"/>
{% endblock %}

{% block app__wrapper__content %}

	<div class="card shadow mb-4">
		<div class="card-header py-3">
			<h6 class="m-0 font-weight-bold text-primary">Фильтр</h6>
		</div>
		<div class="card-body">

			<div class="row">
				<div class="col col-12 col-xl-6">

					<div class="mb-3">
						<label for="id-input">ID пользователя</label>
						<input class="form-control"
							   id="id-input">
					</div>

					<div class="mb-3">
						<label for="login-input">Логин</label>
						<input class="form-control"
							   id="login-input">
					</div>

					<div class="mb-3">
						<label for="full-name-input">ФИО</label>
						<input class="form-control"
							   id="full-name-input">
					</div>

					<div class="mb-3">
						<label for="email-input">Email</label>
						<input class="form-control"
							   id="email-input">
					</div>

					<button id="search-btn" type="button" class="btn btn-sm btn-primary">Найти</button>
					<button id="clear-btn" type="button" class="btn btn-sm btn-primary ml-3">Сбросить фильтр</button>

				</div>
			</div>
			
		</div>
	</div>


	<div class="card shadow mb-4">
		<div id="users-table-card" class="card-body">
			<div class="table-responsive">
				<table class="table table-bordered" id="users-table" width="100%" cellspacing="0"></table>
			</div>
		</div>
	</div>

{% endblock %}

{% block app__base__extra_js %}
	{# vendor #}
	<script src="{{ asset('assets/vendor/datatables/jquery.dataTables.min.js') }}"></script>
	<script src="{{ asset('assets/vendor/datatables/dataTables.bootstrap4.min.js') }}"></script>
	<script src="{{ asset('assets/vendor/datatables/dataTables.bootstrap4.min.js') }}"></script>
	{# custom #}
	<script src="{{ asset('assets/js/dataTables.pipeline.js') }}"></script>
	<script src="{{ asset('assets/js/user/ListController.js') }}"></script>
	<script>
        $(document).ready(function () {

            var columns = [];
            var column = null;

            {% for column in columns %}
				column = {
					title: '{{ column.title }}',
					data: '{{ column.data }}',
					searchable: ('{{ column.searchable ?? 'N' }}' === 'Y'),
					orderable: ('{{ column.orderable ?? 'N' }}' === 'Y')
				};
            	columns.push(column);
            {% endfor %}

            var controller = new Insigne.Test.User.ListController();
            controller.init({
				ajaxUrl: "{{ path('app_users_grid') }}",
                languageUrl: "{{ asset('assets/vendor/datatables/i18n/ru.json') }}",
                userDetailPathTemplate: "{{ path('app_user', {id: 'user_id'}) }}",
				columns: columns,
                tableCardId: 'users-table-card',
				tableId: 'users-table',
				idInputId: 'id-input',
				loginInputId: 'login-input',
				fullNameInputId: 'full-name-input',
				emailInputId: 'email-input',
				searchBtnId: 'search-btn',
				clearBtnId: 'clear-btn'
            });
        });
	</script>
{% endblock %}